@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #111111;
    padding: 3% 5%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 85px;
    overflow-x: hidden;
}

/*-------- Navbar ---------- */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------navbar lists--------------- */
header nav div:nth-child(2){
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    font-size: 12px;
}
header nav div:nth-child(2) a{
    margin-left: 50px;
}
header nav div:nth-child(2) a{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
}

/* -----------------dropdown icon------------- */
.fa-caret-down{
    margin-left: 5px;
    font-size: 20px;
}

/* --------------hamburger manu icon------------- */
header nav div:nth-child(2) .fa-bars{
    display: none;
}

/* ----------------Logo----------------- */
header nav div img{
    height: 30px;
}

/* ------------hero_section--------- */
header div img{
    height: 500px;
    position: relative;
}
header .header-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    margin: auto 7%;
    flex-wrap: wrap;
}
header .header-text div h3{
    color: #ff3647;
    font-weight: 600;
}
header .header-text div h1{
    font-size: 50px;
    padding-bottom: 8px;
    color: #ffffff;
}
header .header-text div p{
    max-width: 450px;
    color: #ddd7d7;
    font-size: 16px;
    padding-bottom: 20px;
}
header .header-text div button{
    background-color: #C91B28;
    color: #ffffff;
    border: 1px solid #C91B28;
    padding: 12px 25px;
    text-transform: uppercase;
    font-family: "Montserrat";
    cursor: pointer;
    font-weight: 500;
}
.hero-img .base{
    content: "";
    background: #181818;
    height: 800px;
    width: 700px;
    position: absolute;
    left: 0;
    z-index: -1;
}
.header-right-text{
    position: relative;
    left: -100px;
}

/* -----Section_1------ */
main .section-1{
    margin-top: 100px;
}
main .section-1 .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Montserrat";
}
main .section-1 .cards .card:nth-child(1),
main .section-1 .cards .card:nth-child(3){
    background-color: #1E1E1E;
}
main .section-1 .cards .card:nth-child(2){
    background-color: #C91B28;
}
.card{
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 50px;
}
.card img{
    height: 55px;
    padding-bottom: 20px;
}
.card h3{
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 23px;
    font-weight: 700;
}
.card p{
    color: #ffffff;
    max-width: 198px;
    padding-bottom: 15px;
    font-size: 18px;
}
.card a{
    text-decoration: none;
    font-size: 14px;
}
.card a i{
    margin-left: 8px;
    font-size: 12px;
}
main .section-1 .cards .card:nth-child(1) a,
main .section-1 .cards .card:nth-child(3) a{
    color: #F13140;
    text-transform: uppercase;
    align-items: center;
    font-weight: 600;
}
main .section-1 .cards .card:nth-child(2) a{
    color: #ffffff;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
}

/* -------section_2------ */
main .section-2{
    margin-top: 100px;
}
main .section-2 .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Montserrat";
}
.closed-info-top{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.closed-info-bottom{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.open-info{
    text-align: center;
}
.open-info h1{
    color: #ef4040;
    font-size: 90px;
    font-weight: 800;
}
.open-info h3{
    color: #ffffff;
}
.closed-info h2{
    color: #ef4040;
    text-align: center;
    font-size: 40px;
}
.closed-info p{
    color: #ddd7d7;
    font-size: 14px;
}
.closed-info-top .box1{
    background-color: #1E1E1E;
    padding: 20px 105px;
}
.closed-info-top .box2{
    background-color: #1E1E1E;
    padding: 20px 85px;
}
.closed-info-bottom .box3{
    background-color: #1E1E1E;
    padding: 20px 74px;
}
.closed-info-bottom .box4{
    background-color: #1E1E1E;
    padding: 20px 94px;
}
.closed-info-bottom{
    padding-top: 10px;
}
.closed-info{
    position: relative;
    left: 90px;
    margin-right: 5%;
}


/* -----section-3---- */
.section-3{
    margin-top: 130px;
}
.section-3 .heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 18px;
    padding-bottom: 30px;
}
.section-3 .heading h2{
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 10px;
}
.section-3 .heading p{
    font-family: "Montserrat";
    color: #ddd7d7;
    font-size: 13px;
}
.section-3 .heading button{
    background-color: #FF3343;
    border: 1px solid #FF3343;
    color: #ffffff;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 25px;
    position: relative;
    left: 35px;
}
.box-top{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 40px;
}

.box-top .box-1 img{
    height: 200px;
    background-color: #1E1E1E;
    padding: 78px 34px;
}
.box-top .box-2 img{
    height: 200px;
    background-color: #1E1E1E;
    padding: 78px 20px;
}
.box-bottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.box-bottom .box-1 img{
    height: 230px;
    padding: 62px 40px;
    background-color: #1E1E1E;
}
.box-bottom .box-2 img{
    height: 200px;
    padding: 78px 20px;
    background-color: #1E1E1E;
}
.dabba h3{
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 8px;
}
.dabba a{
    color: #F13140;
    font-family: "Montserrat";
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
}
.dabba a i{
    margin-left: 8px;
    font-size: 12px;
}


/* ------section-4----- */
.section-4 {
  width: 75%;
  margin: 0 auto;
  margin-top: 60px;
}
.section-4 .contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: #1E1E1E;
    gap: 60px;
}
.section-4 .left h1{
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 40px;
    padding-bottom: 20px;
}
.section-4 .left p{
    font-family: "Montserrat";
    color: #ddd7d7;
    font-size: 14px;
}
.section-4 button{
    background-color: #FF3343;
    border: 1px solid #FF3343;
    color: #ffffff;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 500;
    padding: 12px 25px;
    cursor: pointer;
}

/* ------section-5----- */
.section-5 .footer-lists{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    font-family: "Montserrat";
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 30px;
}

/* -----footer_sec---- */
footer{
    padding-bottom: 25px;
    padding-top: 30px;
    background-color: #1E1E1E;
    width: 100%;
    position: absolute;
    left: 0;
    display: block;
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    margin: 0 auto;
}
footer .b-logo{
    height: 30px;
    margin-right: 20px;
    display: block;
}
.social{
    display: block;
    position: relative;
    right: 41%;
}
footer .social img{
    height: 20px;
    cursor: pointer;
    margin-left: 40px;
}

@media screen and (max-width: 1228px) {
    .hero-img img{
        height: 450px;
    }
    .header-right-text{
        margin-right: -120px;
    }
}
@media screen and ( max-width: 1030px) {
    .header-right-text{
        margin-right: -180px;
    }
    header .header-text div h1{
        font-size: 43px;
    }
    .hero-img img{
        height: 420px;
    }
    header .header-text div p{
        font-size: 15px;
    }
    .section-4 .left h1{
        font-size: 35px;
    }
    .section-4 .left p{
        font-size: 14px;
        max-width: 380px;
    }
    .section-4 .contact{
        display: flex;
        gap: 80px;
    }
}
@media screen and ( max-width: 928px) {
    header .header-text{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .header-right-text{
        text-align: center;
    }
    .closed-info{
        position: relative;
        left: 20px;
        margin-right: 5%;
    }
}
@media screen and (max-width: 908px) {
    .section-4 .left{
        text-align: center;
    }
    .section-4 .contact{
        display: flex;
        gap: 50px;
    }
}
@media screen and ( max-width: 741px){
    .nav-lists .nav-item{
        display: none;
    }
    header nav div:nth-child(2) .fa-bars{
        display: block;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
    }
    .social{
        position: relative;
        right: 0;
    }
    .section-4 .left h1{
        font-size: 30px;
    }
    .section-4 .left p{
        font-size: 14px;
        max-width: 350px;
    }
    .hero-img .base{
        height: 800px;
        width: 600px;
    }
}
@media screen and (max-width: 684px) {
    .closed-info{
        position: relative;
        left: 27%;
    }
    .hero-img .base{
        height: 800px;
        width: 500px;
    }
}
@media screen and (max-width: 578px) {
    .closed-info{
        position: relative;
        left: 20%;
    }
    .hero-img img{
        height: 350px;
    }
    header .header-text div h1{
        font-size: 35px;
    }
    header .header-text div p{
        font-size: 12px;
        max-width: 350px;
    }
    .section-3 .heading{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .section-3 .heading button{
        display: block;
        position: absolute;
        left: 40%;
        top: 1935px;
        font-size: 10px;
    }
    .section-4 .left h1{
        font-size: 25px;
    }
    .section-4 .left p{
        font-size: 12px;
        max-width: 250px;
        margin-left: 20px;
    }
    .section-4{
        margin-top: 100px;
    }
    .hero-img .base{
        height: 800px;
        width: 400px;
    }
}
@media screen and (max-width: 500px){

    .box-top .box-1 img{
        height: 150px;
    }
    .box-top .box-2 img{
        height: 170px;
    }
    .box-bottom .box-1 img,
    .box-bottom .box-2 img{
        height: 160px;
    }
    .section-3 .heading button{
        top: 1750px;
    }
    .header-right-text{
        margin-left: 20px;
    }
    .closed-info{
        position: relative;
        left: 17%;
    }
    .section-3 .heading h2,
    .section-3 .heading p{
        margin-left: 40px;
    }
    .hero-img .base{
        height: 800px;
        width: 350px;
    }
}
@media screen and (max-width: 467px){
    .closed-info{
        position: relative;
        left: 15%;
    }
    .box-top .box-1 img{
        height: 120px;
    }
    .box-top .box-2 img{
        height: 135px;
    }
    .box-bottom .box-2 img{
        height: 130px;
    }
    .box-bottom .box-1 img{
        height: 150px;
        padding: 62px 25px;
    }
    .section-3 .heading button{
        top: 1650px;
    }
    .section-4 .left h1{
        font-size: 20px;
    }
    .section-4 .left p{
        font-size: 12px;
        max-width: 250px;
        margin-left: 20px;
    }
    footer .container{
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 20px;
    }
    .social{
        position: relative;
        right: 30px;
    }
    .hero-img .base{
        height: 800px;
        width: 320px;
    }
}
@media screen and (max-width: 396px){
    .closed-info{
        position: relative;
        left: 7%;
    }
}
@media screen and (max-width: 360px) {
    .section-3 .heading button{
        top: 1690px;
    }
    .section-4 .left h1{
        font-size: 17px;
    }
    .section-4 .left p{
        font-size: 12px;
        max-width: 180px;
        margin-left: 15px;
    }
    header nav div:nth-child(2){
        display: none;
    }
    
}